@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .inpt {
        @apply outline-none border border-[#ADADAD] rounded-lg text-zinc-300 bg-transparent py-3 px-3 w-80
    }
    .inpt-search {
        @apply w-72 outline-none bg-[#363636] border border-zinc-500 rounded-full py-1 ps-10 text-zinc-200
    }
    .add-btn {
        @apply bg-orange text-white font-semibold py-2 rounded text-center xl:px-12 px-4 xl:text-base text-sm
    }
}

.exchange-box {
    background: linear-gradient(142deg, rgba(255, 255, 255, 0.30) -11.31%, rgba(255, 255, 255, 0.02) 59.86%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}
.border-normal {
    border: 1px solid rgba(242, 242, 242, 0.20);
}

/* .bg-img {
    background-image: url("../../public/images/bg2.png")
} */

::-webkit-scrollbar {
    width: 7px; /* Largura da barra de rolagem */
  }
  
  /* Estilizar a alça (o "polegar") da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(167 80 22); /* Cor do polegar */
    border-radius: 5px; /* Borda arredondada */
  }
  
  /* Estilizar a trilha (fundo) da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #fff; /* Cor da trilha */
    border-radius: 12px; /* Borda arredondada */
  }